/* CSS Syntax for NavBar */
.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background: #74C69D;
    color: white;
    width: 100%;
    position: relative;
}
.logo {
    margin-left: 5%;
}
.start {
    margin-right: 50%;
    font-family: "Work Sans", sans-serif;
    font-size: 30px ;
    font-weight: 500;
}
.menu-button {
    margin-right: 5%;
}