/* PartnerSection CSS Syntax */
.partners-section {
    align-items: center;
    background-color: #FFFFFF;
    width: 100%;
}

.partners {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #74C69D;
}
.ipsumbold {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.ipsumlight {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 5px;
}
.partnerlogo {
    list-style: none;
    gap: 40px;
    line-height: 5em;
}
.learn-btn1 {
    margin-left: 1.5em;
}